In [118]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize
from scipy.cluster.vq import whiten
from sklearn.model_selection import train_test_split, cross_val_score
import tensorflow as tf

In [2]:
def print_nan_percentage(df: pd.DataFrame, onlyNaNs=False):
    nan_percentage = df.isna().mean() * 100
    for feature, percentage in nan_percentage.items():
        if onlyNaNs and percentage == 0:
            continue
        print(f"{feature}: {percentage:.2f}% NaN values")

In [39]:
def test_model(model, X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
    model.fit(X_train, y_train)
    print('Accuracy:', model.score(X_test, y_test))
    
    score = cross_val_score(model, X, y, cv=5)
    print('CV Score:', np.mean(score))

In [3]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
print_nan_percentage(df, True)

location: 0.01% NaN values
size: 0.12% NaN values
society: 41.31% NaN values
bath: 0.55% NaN values
balcony: 4.57% NaN values

In [5]:
df = df.dropna(subset=["location"])

In [6]:
df["size"].mode()

0    2 BHK
Name: size, dtype: object

In [7]:
df["size"] = df["size"].fillna(df["size"].mode()[0])

C:\Users\irantech24\AppData\Local\Temp\ipykernel_8812\2540686694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["size"] = df["size"].fillna(df["size"].mode()[0])

In [8]:
df = df.drop(columns=["society"])

In [9]:
df["bath"] = df["bath"].fillna(df["bath"].median())

In [10]:
df["balcony"] = df["balcony"].fillna(df["balcony"].median())

In [11]:
print_nan_percentage(df, True)

In [12]:
data_numeric = df._get_numeric_data()
data_numeric

       bath  balcony   price
0       2.0      1.0   39.07
1       5.0      3.0  120.00
2       2.0      3.0   62.00
3       3.0      1.0   95.00
4       2.0      1.0   51.00
...     ...      ...     ...
13315   4.0      0.0  231.00
13316   5.0      2.0  400.00
13317   2.0      1.0   60.00
13318   4.0      1.0  488.00
13319   1.0      1.0   17.00

[13319 rows x 3 columns]

In [13]:
data_whitened = whiten(data_numeric)
data_normal = pd.DataFrame(normalize(data_whitened), columns=data_numeric.columns)
data_normal

           bath   balcony     price
0      0.761256  0.634531  0.133641
1      0.698943  0.699109  0.150747
2      0.369344  0.923579  0.102894
3      0.848258  0.471367  0.241394
4      0.756515  0.630579  0.173362
...         ...       ...       ...
13314  0.887588  0.000000  0.460638
13315  0.714010  0.476120  0.513323
13316  0.752186  0.626971  0.202789
13317  0.648788  0.270392  0.711310
13318  0.512825  0.854911  0.078346

[13319 rows x 3 columns]

In [14]:
for i in df.columns.difference(data_normal.columns):
    data_normal[i] = pd.factorize(df[i])[0]

In [15]:
data_normal

,bath,balcony,price,area_type,availability,location,size,total_sqft
0,0.761256,0.634531,0.133641,0,0,0,0,0
1,0.698943,0.699109,0.150747,1,1,1,1,1
2,0.369344,0.923579,0.102894,2,1,2,2,2
3,0.848258,0.471367,0.241394,0,1,3,2,3
4,0.756515,0.630579,0.173362,0,1,4,0,4
...,...,...,...,...,...,...,...,...
13314,0.887588,0.000000,0.460638,2,1,5,15,1965
13315,0.714010,0.476120,0.513323,0,1,865,3,171
13316,0.752186,0.626971,0.202789,2,1,15,0,377
13317,0.648788,0.270392,0.711310,0,20,128,3,2116
13318,0.512825,0.854911,0.078346,0,1,37,6,267

In [92]:
y = data_normal["price"]
X = data_normal.drop(columns=["price"])

# ML

## Linear Regression

In [94]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
test_model(model, X, y)

Accuracy: 0.5036930672760438
CV Score: 0.5009808832854664

## CatBoost (Gradient-Boosting)

In [106]:
from catboost import CatBoostRegressor

model = CatBoostRegressor(verbose=0)
test_model(model, X, y)

Accuracy: 0.9976712104368113
CV Score: 0.9980659239417722

In [110]:
final_ML_model = CatBoostRegressor()
model.fit(X, y)

# DL

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [132]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation="relu", input_shape=(7,)),  # reflect 7 input features
    tf.keras.layers.Dense(8, activation="relu"),
    tf.keras.layers.Dense(1) # no activation function for regression output
])

D:\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [134]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001), 
              loss="mean_squared_error", 
              metrics=["mae"])

In [136]:
history = model.fit(X_train, y_train, epochs=100, batch_size=16, validation_split=0.2, verbose=1)

Epoch 1/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 18706.2793 - mae: 90.4096 - val_loss: 1032.3341 - val_mae: 18.9961
Epoch 2/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 749.2242 - mae: 16.9804 - val_loss: 383.5142 - val_mae: 13.4179
Epoch 3/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 332.1571 - mae: 12.1761 - val_loss: 146.2363 - val_mae: 8.0176
Epoch 4/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 115.9929 - mae: 6.9967 - val_loss: 52.1649 - val_mae: 4.4143
Epoch 5/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 43.5942 - mae: 3.9517 - val_loss: 24.3397 - val_mae: 2.7943
Epoch 6/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 23.4224 - mae: 2.7594 - val_loss: 15.2203 - val_mae: 2.2986
Epoch 7/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 13.7973 - mae: 2.2181 - val_loss: 9.4109 - val_mae: 1.8360
Epoch 8/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 8.4856 - mae: 1.7664 - val_loss: 6.0259 - val_mae: 1.4532
Epoch 9/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 5.5227 - mae: 1.4316 - val_loss: 4.2047 - val_mae: 1.2285
Epoch 10/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 3.7218 - mae: 1.1879 - val_loss: 3.0014 - val_mae: 1.0593
Epoch 11/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2.7049 - mae: 1.0188 - val_loss: 2.3043 - val_mae: 0.9349
Epoch 12/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2.1963 - mae: 0.9267 - val_loss: 1.7010 - val_mae: 0.8175
Epoch 13/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1.5706 - mae: 0.7999 - val_loss: 1.2543 - val_mae: 0.7033
Epoch 14/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1.1092 - mae: 0.6999 - val_loss: 0.9698 - val_mae: 0.6277
Epoch 15/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.8898 - mae: 0.6293 - val_loss: 0.7794 - val_mae: 0.5879
Epoch 16/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.7590 - mae: 0.5907 - val_loss: 0.8349 - val_mae: 0.6376
Epoch 17/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.6509 - mae: 0.5457 - val_loss: 0.5111 - val_mae: 0.4650
Epoch 18/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.4909 - mae: 0.4704 - val_loss: 0.5117 - val_mae: 0.5153
Epoch 19/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.3751 - mae: 0.4213 - val_loss: 0.3990 - val_mae: 0.4132
Epoch 20/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.2949 - mae: 0.3734 - val_loss: 0.2329 - val_mae: 0.3375
Epoch 21/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.2103 - mae: 0.3154 - val_loss: 0.1999 - val_mae: 0.3289
Epoch 22/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.1595 - mae: 0.2784 - val_loss: 0.1376 - val_mae: 0.2618
Epoch 23/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.1360 - mae: 0.2581 - val_loss: 0.1232 - val_mae: 0.2521
Epoch 24/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0968 - mae: 0.2179 - val_loss: 0.0903 - val_mae: 0.2238
Epoch 25/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0804 - mae: 0.1996 - val_loss: 0.0491 - val_mae: 0.1467
Epoch 26/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0668 - mae: 0.1802 - val_loss: 0.0468 - val_mae: 0.1527
Epoch 27/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0679 - mae: 0.1788 - val_loss: 0.0390 - val_mae: 0.1274
Epoch 28/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0492 - mae: 0.1574 - val_loss: 0.0471 - val_mae: 0.1584
Epoch 29/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0544 - mae: 0.1571 - val_loss: 0.0340 - val_mae: 0.1280
Epoch 30/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0446 - mae: 0.1465 - val_loss: 0.0316 - val_mae: 0.1117
Epoch 31/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0493 - mae: 0.1514 - val_loss: 0.0305 - val_mae: 0.1210
Epoch 32/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0433 - mae: 0.1412 - val_loss: 0.0436 - val_mae: 0.1464
Epoch 33/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0505 - mae: 0.1494 - val_loss: 0.0312 - val_mae: 0.1254
Epoch 34/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0520 - mae: 0.1522 - val_loss: 0.0241 - val_mae: 0.1040
Epoch 35/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0336 - mae: 0.1233 - val_loss: 0.0280 - val_mae: 0.1199
Epoch 36/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0345 - mae: 0.1273 - val_loss: 0.1113 - val_mae: 0.2514
Epoch 37/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0367 - mae: 0.1300 - val_loss: 0.0242 - val_mae: 0.1047
Epoch 38/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0366 - mae: 0.1322 - val_loss: 0.0269 - val_mae: 0.1196
Epoch 39/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0448 - mae: 0.1420 - val_loss: 0.0519 - val_mae: 0.1462
Epoch 40/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0691 - mae: 0.1674 - val_loss: 0.0941 - val_mae: 0.2186
Epoch 41/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0387 - mae: 0.1345 - val_loss: 0.0286 - val_mae: 0.1251
Epoch 42/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0329 - mae: 0.1247 - val_loss: 0.0631 - val_mae: 0.1946
Epoch 43/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0546 - mae: 0.1514 - val_loss: 0.0197 - val_mae: 0.0981
Epoch 44/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0426 - mae: 0.1353 - val_loss: 0.0306 - val_mae: 0.1319
Epoch 45/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0362 - mae: 0.1272 - val_loss: 0.0238 - val_mae: 0.0982
Epoch 46/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0421 - mae: 0.1377 - val_loss: 0.0487 - val_mae: 0.1673
Epoch 47/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0327 - mae: 0.1237 - val_loss: 0.0252 - val_mae: 0.1014
Epoch 48/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0372 - mae: 0.1297 - val_loss: 0.0193 - val_mae: 0.0903
Epoch 49/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0331 - mae: 0.1247 - val_loss: 0.0239 - val_mae: 0.1002
Epoch 50/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0255 - mae: 0.1085 - val_loss: 0.0262 - val_mae: 0.1132
Epoch 51/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0342 - mae: 0.1245 - val_loss: 0.0877 - val_mae: 0.2214
Epoch 52/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0351 - mae: 0.1294 - val_loss: 0.0453 - val_mae: 0.1479
Epoch 53/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0446 - mae: 0.1383 - val_loss: 0.0222 - val_mae: 0.1073
Epoch 54/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0308 - mae: 0.1197 - val_loss: 0.0295 - val_mae: 0.1222
Epoch 55/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0543 - mae: 0.1507 - val_loss: 0.0412 - val_mae: 0.1477
Epoch 56/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0353 - mae: 0.1260 - val_loss: 0.0294 - val_mae: 0.1145
Epoch 57/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0326 - mae: 0.1217 - val_loss: 0.0234 - val_mae: 0.1012
Epoch 58/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.0325 - mae: 0.1243 - val_loss: 0.0208 - val_mae: 0.0992
Epoch 59/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0421 - mae: 0.1400 - val_loss: 0.0244 - val_mae: 0.1040
Epoch 60/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0273 - mae: 0.1135 - val_loss: 0.0170 - val_mae: 0.0942
Epoch 61/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0275 - mae: 0.1136 - val_loss: 0.1498 - val_mae: 0.2937
Epoch 62/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0345 - mae: 0.1264 - val_loss: 0.0403 - val_mae: 0.1550
Epoch 63/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0263 - mae: 0.1119 - val_loss: 0.0168 - val_mae: 0.0906
Epoch 64/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0407 - mae: 0.1348 - val_loss: 0.0291 - val_mae: 0.1152
Epoch 65/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0339 - mae: 0.1248 - val_loss: 0.1562 - val_mae: 0.3034
Epoch 66/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0504 - mae: 0.1483 - val_loss: 0.0164 - val_mae: 0.0929
Epoch 67/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0270 - mae: 0.1130 - val_loss: 0.1538 - val_mae: 0.3032
Epoch 68/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 0.0424 - mae: 0.1372 - val_loss: 0.0222 - val_mae: 0.1118
Epoch 69/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0795 - mae: 0.1747 - val_loss: 0.0208 - val_mae: 0.1100
Epoch 70/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0235 - mae: 0.1042 - val_loss: 0.0231 - val_mae: 0.1076
Epoch 71/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0339 - mae: 0.1256 - val_loss: 0.0205 - val_mae: 0.0960
Epoch 72/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0292 - mae: 0.1187 - val_loss: 0.0155 - val_mae: 0.0872
Epoch 73/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0269 - mae: 0.1129 - val_loss: 0.0216 - val_mae: 0.0988
Epoch 74/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0286 - mae: 0.1170 - val_loss: 0.5930 - val_mae: 0.5979
Epoch 75/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.1513 - mae: 0.2303 - val_loss: 0.0196 - val_mae: 0.1032
Epoch 76/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0220 - mae: 0.1036 - val_loss: 0.0220 - val_mae: 0.1020
Epoch 77/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0265 - mae: 0.1112 - val_loss: 0.0151 - val_mae: 0.0921
Epoch 78/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0383 - mae: 0.1330 - val_loss: 0.0191 - val_mae: 0.1057
Epoch 79/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0490 - mae: 0.1470 - val_loss: 0.0192 - val_mae: 0.0931
Epoch 80/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0246 - mae: 0.1070 - val_loss: 0.0200 - val_mae: 0.0976
Epoch 81/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0227 - mae: 0.1061 - val_loss: 0.0306 - val_mae: 0.1315
Epoch 82/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0268 - mae: 0.1153 - val_loss: 0.0244 - val_mae: 0.1200
Epoch 83/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0367 - mae: 0.1287 - val_loss: 0.0152 - val_mae: 0.0917
Epoch 84/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0301 - mae: 0.1146 - val_loss: 0.0502 - val_mae: 0.1729
Epoch 85/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0306 - mae: 0.1213 - val_loss: 0.0185 - val_mae: 0.1029
Epoch 86/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0860 - mae: 0.1741 - val_loss: 0.0151 - val_mae: 0.0840
Epoch 87/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0250 - mae: 0.1101 - val_loss: 0.0249 - val_mae: 0.1219
Epoch 88/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0241 - mae: 0.1086 - val_loss: 0.0275 - val_mae: 0.1270
Epoch 89/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0295 - mae: 0.1134 - val_loss: 0.0530 - val_mae: 0.1726
Epoch 90/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0210 - mae: 0.1026 - val_loss: 0.0661 - val_mae: 0.1858
Epoch 91/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0333 - mae: 0.1265 - val_loss: 0.0152 - val_mae: 0.0846
Epoch 92/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0400 - mae: 0.1314 - val_loss: 0.0135 - val_mae: 0.0840
Epoch 93/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0232 - mae: 0.1062 - val_loss: 0.0782 - val_mae: 0.2177
Epoch 94/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0274 - mae: 0.1156 - val_loss: 0.0135 - val_mae: 0.0863
Epoch 95/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0606 - mae: 0.1663 - val_loss: 0.0154 - val_mae: 0.0851
Epoch 96/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0206 - mae: 0.1017 - val_loss: 0.0130 - val_mae: 0.0810
Epoch 97/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0257 - mae: 0.1105 - val_loss: 0.0178 - val_mae: 0.1012
Epoch 98/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0304 - mae: 0.1202 - val_loss: 0.0806 - val_mae: 0.2185
Epoch 99/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0233 - mae: 0.1078 - val_loss: 0.0172 - val_mae: 0.0942
Epoch 100/100
533/533 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 0.0503 - mae: 0.1452 - val_loss: 0.0178 - val_mae: 0.1029